* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-image: linear-gradient(#00C8D5, #0048B8);
    font-family: 'Arvo', serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    /*Centralização Horizontal*/
    justify-content: center;
    /*Centralização Vertical*/
    align-items: center;
}


/* ------------ 
TELA INICIAL
-------------*/

#tela-inicial {
    width: 650px;
    height: 500px;
    text-transform: uppercase;
    font-family: 'Arvo', serif;
    text-align: center;
    color: white;
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: 0.4s;
}

.opacity-zero {
    opacity: 0 !important;
}

.hidden {
    visibility: hidden !important;
}

.display-none {
    display: none;
}

#title {
    display: block;
    padding-top: 100px;
    font-size: 55px;
}

button {
    border: 0px;
}

#btn-play {
    /*Aspecto do botão*/
    background-color: transparent;
    border: 1.9px solid #fff;
    border-radius: 100px;
    /*Espaçamentos*/
    padding: 1.2rem 3rem;
    margin-top: 25%;
    /*Fonte*/
    font-family: 'Arvo', serif;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    /*Mouse*/
    cursor: pointer;
    transition: 0.20s ease-in-out;
}

#btn-play:hover {
    /*Espaçamentos*/
    margin-top: 25.5%;
    /*Fonte*/
    font-size: 35px;
}

/* ------------ 
TELA GAME
-------------*/

#tela-game {
    width: 650px;
    height: 500px;
    font-family: 'Arvo', serif;
    text-align: center;
    color: white;
    transition: all 0.6s ease-in-out;
    display:none;
}

#tela-game #message {
    display: block;
    /*Aspecto do area de mensagem*/
    background-color: transparent;
    border: 1.9px solid #fff;
    border-radius: 100px;
    /*Espaçamentos*/
    padding: 5% 0;
    margin: 0 10%;
    /*Fonte*/
    font-family: 'Arvo', serif;
    font-size: 40px;
    color: white;
}

.answer-option {
    display: inline-block;
    text-align: center;
    /*Fonte*/
    font-family: 'Arvo', serif;
    font-size: 35px;
    color: #535362;
    background-color: white;
    border-radius: 35px;
    /*Espaçamentos*/
    width: 15%;
    padding: 20px 0;
    margin: 15% 4% 0 4%;
    /*Efeito*/
    transition: 0.2s;
}

.answer-option:hover {
    background-color: #eef;
    cursor: pointer;
}

.answer-option--correct, .answer-option--correct:hover {
    background-color: #C5F404;
}

.answer-option--incorrect, .answer-option--incorrect:hover{
    background-color: #FF2424;
}

#life-container {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    margin: 12% 28% 0 28%;
    padding: 10px;
    border-radius: 50px;
    transition: all 0.6s linear;
}

.heart {
    width: 45px;
    padding-top: 5px;
    margin: 0 5%;
    transition: all 0.5s linear;
}

#btn-play-again {
    display: none;
    cursor: pointer;
    /*Aspecto do area de mensagem*/
    background-color: transparent;
    border: 1.9px solid #fff;
    border-radius: 100px;
    /*Espaçamentos*/
    padding: 1.5rem 2rem;
    margin:auto;
    margin-top: 4rem;
    /*Fonte*/
    font-family: 'Arvo', serif;
    font-size: 25px;
    color: white;
    /*Efeito*/
    transition: 0.17s;
}

#btn-play-again:hover {
    font-size: 28px;
    padding: 1.5rem 2.6rem;

}
